# =========================
# Node
# =========================
**/node_modules/

# =========================
# Neovim
# =========================
*.swp
*.swo
*.un~
*.bak
Session.vim
Sessionx.vim
.netrwhist
*.log
*.nvim-log
crash.log

# =========================
# macOS
# =========================
.DS_Store
